*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

a:link{
    text-decoration: none;
}

a:visited{
    color:black;
}

.header{
    display: flex;
    position: sticky;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    /* background-color: #2196F3; */
}

.containerHidden{
    display: none;
}

.actions ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.actions li{
    padding: 10px 5px;
    /* margin: 10px; */
}

#addEmployee, #searchEmployee, #editEmployee{
    padding: 8px;
    border-radius: 5px;
    background-color: whitesmoke;
    color: #2196F3;
    border-color: #2196F3;
    cursor: pointer;
    padding: 10px 14px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#addEmployee:hover{
    background-color: #2196F3;
    color: whitesmoke;
    transition: all 0.3s ease;
}
#searchEmployee:hover{
    background-color: #2196F3;
    color: whitesmoke;
    transition: all 0.3s ease;
}
#editEmployee:hover{
    background-color: #2196F3;
    color: whitesmoke;
    transition: all 0.3s ease;
}


form{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

input[type=text]{
    width: 350px;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid #172432;
    padding: 15px;
    margin: 5px 0;
}

#companyName{
    cursor: pointer;
    transition: all 0.2s ease;
}

#companyName:hover{
    color: gray;
}

#enter{
    margin: 30px 0;
    margin-bottom: 10px;
}

.submitForm{
    font-size: 15px;
    width: 100px;
    padding: 5px 20px;
    border-radius: 5px;
    border-color: gray;
    background-color: white;
    cursor: pointer;
    height: 35px;
    margin: 5px;
    margin-top: 8px;
}

.submitForm:hover{
    background-color: gray;
    color: white;
}

.display{
    display: flex;
    justify-content: center;
    align-content: center;
}

th {
    border: 2px solid black;
    height: 30px;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 30px auto;
}

td{
    text-align: center;
    height: 36.5px;
}

.deleteButton{
    width: 50%;
    height: 25px;
    cursor: pointer;
    border-radius: 5px;
    border: 1.5px solid black;
    /* margin: 10px; */
    padding: 0 10px;
}

.deleteButton:hover{
    background-color: #172432;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    transition: all 0.4s;
}

#lastColumn{
    border-color: white;
}

#lastColumnHidden{
    display: none;
}

.tableColumn{
    border-bottom: 2px solid black; 
}

.firstColumn{
    border-left: 2px solid black;
}

.secondLastColumn{
    border-right: 2px solid black;
}

/* .displayTable{
    font-size: 15px;
    width: 100px;
    padding: 5px 20px;
    border-radius: 5px;
    border-color: gray;
    background-color: white;
    cursor: pointer;
    height: 35px;
} */

/* .displayTable:hover{
    background-color: gray;
    color: white;
} */

.searchEmployeeHidden{
    display: none;
}

.searchEmployee, .searchEmployeeForEdit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.searchHeader{
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px gray;
}

.searchInput{
    width: 350px;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid #172432;
    padding: 15px;
    margin: 5px 0;
    margin-top: 10px;
}

.searchInput::-webkit-search-cancel-button{
    size: 15px;
}

#enter{
    text-shadow: 1px 1px 2px gray;
}

#companyName{
    text-shadow: 1px 1px 2px gray;
}

/* For experimenting with modal */
/* .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } */

.editEmployee{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.editEmployee h2{
    text-shadow: 1px 1px 2px gray;
    margin: 10px auto;
}

.editEmployee button{
    font-size: 15px;
    width: fit-content;
    padding: 5px 20px;
    border-radius: 5px;
    border-color: gray;
    background-color: white;
    cursor: pointer;
    height: 35px;
    margin-top: 8px;
}

.editEmployee button:hover{
    background-color: gray;
    color: white;
    transition: all 0.3s;
}

.editEmployeeHidden, .editingHidden{
    display: none;
}

.displayHidden{
    display: none;
}

.searchHeaderEdit{
    text-shadow: 1px 1px 2px gray;
    margin-bottom: 10px;
}